In [3]:
import numpy as np
import pandas as pd
data=pd.read_csv("data.csv")

In [4]:
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [5]:
data.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [6]:
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
 data["Car"].fillna(data["Car"].mean(),inplace=True)

In [8]:
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [11]:
data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

## for council area mode operation is used

In [12]:
data["BuildingArea"].fillna(data["BuildingArea"].mean(),inplace=True)
data["YearBuilt"].fillna(data["YearBuilt"].mean(),inplace=True)
data["CouncilArea"].fillna(data["CouncilArea"].mode()[0],inplace=True)

In [13]:
data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [15]:

data['Postcode'] = data['Postcode'].astype('int64')
data['Bedroom2'] = data['Bedroom2'].astype('int64')
data['Bathroom'] = data['Bathroom'].astype('int64')
data["Car"] = data["Car"].astype("int64")
data['YearBuilt'] = data['YearBuilt'].astype('int64')

In [16]:
data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode           int64
Bedroom2           int64
Bathroom           int64
Car                int64
Landsize         float64
BuildingArea     float64
YearBuilt          int64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data["Suburb"] = le.fit_transform(data["Suburb"]) 
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,151.96765,1964,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,0,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.00000,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,0,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.00000,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,0,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,151.96765,1964,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,0,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.00000,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,302,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,2,2,652.0,151.96765,1981,Moreland,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,305,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,2,2,333.0,133.00000,1995,Moreland,-37.85927,144.87904,Western Metropolitan,6380.0
13577,305,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,2,4,436.0,151.96765,1997,Moreland,-37.85274,144.88738,Western Metropolitan,6380.0
13578,305,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,1,5,866.0,157.00000,1920,Moreland,-37.85908,144.89299,Western Metropolitan,6380.0
13579,313,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,1,1,362.0,112.00000,1920,Moreland,-37.81188,144.88449,Western Metropolitan,6543.0

In [18]:
data["CouncilArea"].unique()

array(['Yarra', 'Moonee Valley', 'Port Phillip', 'Darebin', 'Hobsons Bay',
       'Stonnington', 'Boroondara', 'Monash', 'Glen Eira', 'Whitehorse',
       'Maribyrnong', 'Bayside', 'Moreland', 'Manningham', 'Banyule',
       'Melbourne', 'Kingston', 'Brimbank', 'Hume', 'Knox', 'Maroondah',
       'Casey', 'Melton', 'Greater Dandenong', 'Nillumbik', 'Whittlesea',
       'Frankston', 'Macedon Ranges', 'Yarra Ranges', 'Wyndham',
       'Cardinia', 'Unavailable', 'Moorabool'], dtype=object)

In [19]:
data["CouncilArea"] = le.fit_transform(data["CouncilArea"])
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,151.96765,1964,31,-37.79960,144.99840,Northern Metropolitan,4019.0
1,0,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.00000,1900,31,-37.80790,144.99340,Northern Metropolitan,4019.0
2,0,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.00000,1900,31,-37.80930,144.99440,Northern Metropolitan,4019.0
3,0,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,151.96765,1964,31,-37.79690,144.99690,Northern Metropolitan,4019.0
4,0,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.00000,2014,31,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,302,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,2,2,652.0,151.96765,1981,23,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,305,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,2,2,333.0,133.00000,1995,23,-37.85927,144.87904,Western Metropolitan,6380.0
13577,305,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,2,4,436.0,151.96765,1997,23,-37.85274,144.88738,Western Metropolitan,6380.0
13578,305,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,1,5,866.0,157.00000,1920,23,-37.85908,144.89299,Western Metropolitan,6380.0
13579,313,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,1,1,362.0,112.00000,1920,23,-37.81188,144.88449,Western Metropolitan,6543.0

In [28]:
data = pd.get_dummies(data,columns=["Suburb"])

In [29]:
data

,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Suburb_304,Suburb_305,Suburb_306,Suburb_307,Suburb_308,Suburb_309,Suburb_310,Suburb_311,Suburb_312,Suburb_313
0,85 Turner St,2,h,1480000.0,Biggin,3/12/2016,2.5,3067,2,1,...,False,False,False,False,False,False,False,False,False,False
1,25 Bloomburg St,2,h,1035000.0,Biggin,4/02/2016,2.5,3067,2,1,...,False,False,False,False,False,False,False,False,False,False
2,5 Charles St,3,h,1465000.0,Biggin,4/03/2017,2.5,3067,3,2,...,False,False,False,False,False,False,False,False,False,False
3,40 Federation La,3,h,850000.0,Biggin,4/03/2017,2.5,3067,3,2,...,False,False,False,False,False,False,False,False,False,False
4,55a Park St,4,h,1600000.0,Nelson,4/06/2016,2.5,3067,3,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,12 Strada Cr,4,h,1245000.0,Barry,26/08/2017,16.7,3150,4,2,...,False,False,False,False,False,False,False,False,False,False
13576,77 Merrett Dr,3,h,1031000.0,Williams,26/08/2017,6.8,3016,3,2,...,False,True,False,False,False,False,False,False,False,False
13577,83 Power St,3,h,1170000.0,Raine,26/08/2017,6.8,3016,3,2,...,False,True,False,False,False,False,False,False,False,False
13578,96 Verdon St,4,h,2500000.0,Sweeney,26/08/2017,6.8,3016,4,1,...,False,True,False,False,False,False,False,False,False,False
13579,6 Agnes St,4,h,1285000.0,Village,26/08/2017,6.3,3013,4,1,...,False,False,False,False,False,False,False,False,False,True

In [35]:
from sklearn.preprocessing import OneHotEncoder
v = OneHotEncoder()
v.fit(data)
v2 = v.transform(data)
print(v2)

  (0, 12794)	1.0
  (0, 13379)	1.0
  (0, 13387)	1.0
  (0, 14926)	1.0
  (0, 15617)	1.0
  (0, 15907)	1.0
  (0, 15932)	1.0
  (0, 16175)	1.0
  (0, 16322)	1.0
  (0, 16333)	1.0
  (0, 16342)	1.0
  (0, 16527)	1.0
  (0, 18040)	1.0
  (0, 18492)	1.0
  (0, 18578)	1.0
  (0, 22063)	1.0
  (0, 28448)	1.0
  (0, 32148)	1.0
  (0, 32311)	1.0
  (0, 32465)	1.0
  (0, 32468)	1.0
  (0, 32469)	1.0
  (0, 32471)	1.0
  (0, 32473)	1.0
  (0, 32476)	1.0
  :	:
  (13579, 33053)	1.0
  (13579, 33055)	1.0
  (13579, 33057)	1.0
  (13579, 33059)	1.0
  (13579, 33061)	1.0
  (13579, 33063)	1.0
  (13579, 33065)	1.0
  (13579, 33067)	1.0
  (13579, 33069)	1.0
  (13579, 33071)	1.0
  (13579, 33073)	1.0
  (13579, 33075)	1.0
  (13579, 33077)	1.0
  (13579, 33079)	1.0
  (13579, 33081)	1.0
  (13579, 33083)	1.0
  (13579, 33085)	1.0
  (13579, 33087)	1.0
  (13579, 33089)	1.0
  (13579, 33091)	1.0
  (13579, 33093)	1.0
  (13579, 33095)	1.0
  (13579, 33097)	1.0
  (13579, 33099)	1.0
  (13579, 33102)	1.0

In [36]:
s = data["SellerG"]
s1 = pd.get_dummies(s,prefix="SELLERG")
s = pd.concat([s,s1], axis=1)
s

,SellerG,SELLERG_@Realty,SELLERG_ASL,SELLERG_Abercromby's,SELLERG_Ace,SELLERG_Alexkarbon,SELLERG_Allens,SELLERG_Anderson,SELLERG_Appleby,SELLERG_Aquire,...,SELLERG_Zahn,SELLERG_buyMyplace,SELLERG_hockingstuart,SELLERG_hockingstuart/Advantage,SELLERG_hockingstuart/Barry,SELLERG_hockingstuart/Village,SELLERG_iOne,SELLERG_iProperty,SELLERG_iSell,SELLERG_iTRAK
0,Biggin,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Biggin,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Biggin,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Biggin,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Nelson,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Barry,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13576,Williams,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13577,Raine,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13578,Sweeney,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13579,Village,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False